{% extends "base.html" %}

{% block formulario %}
    <h1>{{titulo}}</h1>
   
    <form method="POST" action="">
        {% csrf_token %}
        {{el_form.as_p}}
        <input type="submit" value="Guardar">
    </form>
    
{% endblock %}